/* hire-component.module.css */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px;
}

.inner-container {
    width: 100%;
    max-width: 1400px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}

.title {
    width: 100%;
    max-width: 1064px;
    font-weight: 700;
    font-size: 48px;
    line-height: 1.2;
    letter-spacing: -2px;
    text-align: center;
}

.cards-wrapper {
    display: flex;
    gap: 20px;
    margin-top: 40px;
    flex-wrap: wrap;
    justify-content: center;
}

.card-container {
    display: flex;
    justify-content: center;
}

.card {
    width: 100%;
    max-width: 690px;
    height: 690px;
    background-color: #016498;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    padding: 40px;
}

.card-content {
    background-color: white;
    padding: 40px;
    width: 100%;
    /* text-align: center; */
}

.card-title {
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 24px;
    line-height: 1.2;
    letter-spacing: -2px;
}

/* Responsive Design */

@media (max-width: 1200px) {
    .container {
        padding: 60px;
    }

    .title {
        font-size: 42px;
    }

    .card {
        height: 600px;
    }
}

@media (max-width: 992px) {
    .container {
        padding: 40px;
    }

    .title {
        font-size: 36px;
    }

    .card {
        height: 550px;
    }
}

@media (max-width: 768px) {
    .container {
        padding: 20px;
    }

    .title {
        font-size: 32px;
    }

    .card {
        height: 500px;
    }

    .cards-wrapper {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 576px) {
    .container {
        padding: 10px;
    }

    .title {
        font-size: 28px;
    }

    .card {
        height: 450px;
    }

    .card-content {
        padding: 20px;
    }

    .card-title {
        font-size: 20px;
    }
}